# https://fsprojects.github.io/Paket/nuget-dependencies.html

source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0, netstandard2.1, net6.0, net8.0, net9.0, net10.0

nuget Fable.Core 5.0.0-beta.4

group Test
    source https://api.nuget.org/v3/index.json
    storage: none
    framework: net9.0

    nuget FSharp.Core
    nuget Fable.Core 5.0.0-beta.4
    nuget Microsoft.NET.Test.Sdk ~> 16
    nuget xunit ~> 2
    nuget xunit.runner.visualstudio ~> 2

group Examples
    source https://api.nuget.org/v3/index.json
    storage: none
    framework: net9.0

    nuget FSharp.Core
    nuget Fable.Core 5.0.0-beta.4
    nuget Feliz.ViewEngine
    nuget Zanaptak.TypedCssClasses
    nuget FSharp.Control.AsyncRx


