# Generated Python code
build/

# Python
__pycache__/
*.pyc
.venv/

# .NET
bin/
obj/

# Fable
.fable/
fable_modules/

# Generated Fable code
build/

# Generated Python files (but not models.py which is handwritten)
app.py
!models.py