name: Build and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.x
            8.x
            9.x

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Restore dependencies
        run: just restore

      - name: Install Python dependencies
        run: |
          pipx install uv
          just install-python

      #- name: Check formatting
      #  run: just format-check

      - name: Build
        run: just build

      - name: Test
        run: just test
