name: Build and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            6.x
            8.x
            9.x

      - name: Setup dotnet tools
        run: dotnet tool restore

      - name: Install src dependencies
        run: dotnet restore src

      - name: Install test dependencies
        run: dotnet restore test

      - name: Install pytest runner
        run: pipx install pytest

      - name: Install build dependencies
        run: dotnet restore Build.fsproj

      #- name: Check formatting
      #  run: dotnet fantomas . -r --check

      - name: Build
        run: dotnet run Build --configuration Release --no-restore

      - name: Install dependencies
        run: |
          pipx install uv
          uv sync

      - name: Test
        run: dotnet run Test
