on:
  release:
    types: [created]

name: Publish Release
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            6.x
            8.x
            9.x
            10.x

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Restore dependencies
        run: |
          dotnet tool restore
          dotnet restore src

      - name: Pack NuGet
        run: just pack-version ${GITHUB_REF##*/v}

      - name: Push NuGet
        run: dotnet nuget push src/bin/Release/*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
        continue-on-error: false
